<% include ./layout/top %>

<div class="container">
	
	 <section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="container">
	            <div class="row">

	                    
	                <div class="col-lg-6 contact-right">
	                        <h3>Programação na Internet 2014/2015 Semestre de Verão - Trabalho Final</h3>
	                        <br>
	                        <p>O objetivo desta aplicação é mostrar a capacidade para aplicar os
	conhecimentos adquiridos em Programação na Internet.</p>
	                        <br>
	                        <p>Este site constitui um espeço de partilha de anúncios classificados, publicados pelos utilizadores
	registados na plataforma.</p>
	                    
	                </div>

	                <div class="col-lg-4 col-lg-offset-1 contact-left">
	                        <h3>Grupo 2:</h3>
	                        <br>
	                        <p>André Mendes   / 30569 </p>
	                        <p>Rui Machado    / 31181 </p>
	                        
	                        <br>
	                </div>

	            </div>
        	</div><!-- /container -->
        </div>
    </section>


</div>

<% include ./layout/bottom %>