body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url(../images/OBYTr2.png); 
  background-size: cover;
}

a {
  color: #00B7FF;
}

input[readonly="readonly"]{
	cursor: default;
}

textarea[readonly="readonly"]{
	cursor: default;
}

.loginarea{
	cursor: default;
	font-weight: bold;
}

.homepage_img_section{
	width:830px;
	height:350px;
}

.homepage_image{
	width: 100%;
	height: 100%;
}

.slide-image{
	width:30px;
	height:30px;
}

.icon-image{
	width:20px;
	height:20px;
}

.margin{
	margin-bottom:15px;
}

.comment-item{
	background-color:#D4D4D4;
}

.activity-info{
	background-color:#D4D4D4;
}
.comment-item-response{
	background-color:#CACACA;
	border-left:100px; /* padding-left: 100px; */
}

.list-image{
	width:80px;
	height:80px;
	float: left;
	padding: 5px;
}

.list-edit-image{
	width:80px;
	height:80px;
	margin-right: 20px;
	margin-top: 40px;
}

.margin-header{
	margin-top: 40px;
}

.list-small-image{
	width:90px;
	height:90px;
}

.small-icon-image{
	width:15px;
	height:15px;
}
