            <div class="col-md-3">
                <p class="lead">CLX</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Electronico</a>
                    <a href="#" class="list-group-item">Roupa</a>
                    <a href="#" class="list-group-item">Transportes</a>
                    <a href="#" class="list-group-item">Diversos</a>
                </div>
            </div>